.input_container {
	background: linear-gradient(
		90deg,
		var(--blue-dark) 0%,
		rgba(73, 83, 184, 0.2) 100%
	);
	border-radius: 5px 0px 0px 5px;
	display: flex;
	align-items: center;
	margin-top: 1.5rem;
	position: relative;
}

.input_container input {
	flex: 1;
	border: 0;
	background-color: transparent;
	padding: 20px;
	color: var(--white);
	padding-right: 69px;
}

.input_container input::placeholder {
	color: #b3b9ff;
}

.input_container button {
	background-color: var(--blue-dark);
	border-radius: 0px 5px 5px 0px;
	border: 0;
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 59px;
	font-size: 0;
	transition: all 300ms ease-in-out;
}

.input_container button:hover {
	background-color: var(--green);
}
